body {
  margin: 0;
  background: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

canvas {
  background: gray;
  border: 2px solid black;
}

#controls {
  margin-top: 10px;
}

button {
  font-size: 2rem;
  margin: 0 20px;
  padding: 10px 20px;
  background: lightblue;
  border: none;
  border-radius: 8px;
}
